################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ecomm_Service.CouponAPI/obj/Debug/net8.0/ref
/Ecomm_Service.CouponAPI/obj/Debug/net8.0/staticwebassets
/.vs/ProjectEvaluation/microservice_learning.metadata.v7.bin
/.vs/ProjectEvaluation/microservice_learning.projects.v7.bin
/Ecomm.Web/bin/Debug/net8.0/af
/Ecomm.Web/bin/Debug/net8.0/ar
/Ecomm.Web/bin/Debug/net8.0/az
/Ecomm.Web/bin/Debug/net8.0/bg
/Ecomm.Web/bin/Debug/net8.0/bn-BD
/Ecomm.Web/bin/Debug/net8.0/cs
/Ecomm.Web/bin/Debug/net8.0/da
/Ecomm.Web/bin/Debug/net8.0/de
