################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ecomm_Service.CouponAPI/obj/Debug/net8.0/ref
/Ecomm_Service.CouponAPI/obj/Debug/net8.0/staticwebassets
